<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Info</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <h1>The-Movie-Blog</h1>
    <ul style="list-style-type:none";>
        <li><button>Home</button></li>
        <li><button>Profile</button></li>
        <li><button>Login / Signup</button></li>
    </ul>
    
    
    <h2>Movie Info</h2>
    <ul style="list-style-type:none;">
        <li>Title:</li> 
        <li>Description:</li>
        <li>Produced By:</li>
    </ul>
    

</body>
</html>