:root

h1 {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  h2 {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  ul {
    color: black;
  }
  
  
  .like-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .like-button.animated {
    -webkit-animation: pop 0.9s both;
    animation: pop 0.9s both;
  }
  
  .like-button svg {
    opacity: 1;
  }
  
  .like-button svg path {
    fill: #333;
    transition: fill .4s ease-out;
  }
  
  .like-button.active svg path {
    fill: #2196f3;
  }

  